body{
	margin: auto 0;
}

.bar{
	position: relative;
	text-align: center;
	/* height: 65vh; */
	background-color: rgb(94, 28, 156);
}
.ui-logo{
	position: absolute;
	top: 70px;
}
.topbar{
	margin:0px;
	padding:10px;
	list-style: none;
	display: inline-flex;
	text-align: center;
}

.info{
	color:white;
	text-align: left;
	margin:40px;
	font-family: calibri;
	word-spacing: 5px;
	font-style: italic;
	margin-top: 70px;
	width: 300px;
	font-size: 1.2rem;
}
.top{
	cursor: pointer;
	margin:5px;
	font-size: 1rem;
	font-family: monospace;
	margin-right: 40px;
	color: rgb(231, 221, 221);
}
.top-right{
	border: solid white 1px;
	border-radius: 7px;
	padding: 5px;
	color: white;
	font-style: italic;
	position: absolute;
	right: 10px;
	cursor: pointer;
	font-size: .9rem;
	font-family: monospace;
	
}
.top-left{
	padding: 5px;
	color: white;
	font-weight: bold;
	position: absolute;
	left: 30px;
	letter-spacing: 1.5px;
	font-size: 1.5rem;
	font-family: monospace;
	
}
.signup{
	border: solid red 1px;
	color:white;
	background-color: rgb(223, 16, 16);
	border-radius: 30px;
	margin: 25px;
	margin-top: 40px;
	padding: 15px;
	padding-left: 40px;
	padding-right: 40px;
	font-family: monospace;
	font-size: 1rem;
	cursor: pointer;
}
:hover.signup{
	background-color: white;
	color: red;
}
.cover{
	margin: 0px;
	display: block;
	background-color: rgb(247, 239, 239);
	border: solid rgb(245, 237, 237) 1px;
	float: right;
}
.content{
	background-color: white;
	margin: 70px;
	margin-right: 0px;
	padding: 50px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	border: solid rgb(221, 218, 218) 1px;
	border-radius: 50px;
	box-shadow: 6px 7px 7px rgb(221, 218, 218) ;
	display: inline-flex;
}
.sideBar{
	display: block;
	background-color: rgb(0,0,0,0.6);
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	padding: 10px;
	padding-top: 20px;
	padding-bottom: 70px;
	margin: 0px;
	text-align: center;
	list-style: none;
}
.side{
	color: white;
	padding:0px;
	margin:0px;
	margin-bottom: 50px;
	font-family: monospace;
	font-size: .9rem;
	cursor: pointer;
	border-bottom: solid rgb(76, 241, 76) 2px;
	border-radius: 3px;
}
.infoview{
	font-family: calibri;
	margin-left: 50px;
}
.basicinfo{
	margin-top: 40px;
	margin-left: 10px;
}
.input{
	border: solid black 1px;
	outline:none;
	border-top:none;
	border-right: none;
	border-left: none;
	text-align: left;
	margin: 0px;
	padding: 10px;
	margin-bottom: 20px;
	padding-right: 50px;
	padding-left: 30px;
	margin-right: 20px;
	
}
.signinpage{
	position: relative;
}
.leftCover{
	position: absolute;
	width: 45%;
	top:0px;
	left:0px;
	background-image: url('coverimg.jpg');
	height: 98vh;
}
.usercover{
	margin: 0px;
	margin-bottom: 20px;
	justify-content: center;
	text-align: center;
}
.user{
	margin: 0px;
	padding: 0px;
	border-radius: 80px;
}
.butt{
	border: solid red 1px;
	color:white;
	background-color: rgb(223, 16, 16);
	border-radius: 30px;
	margin: 25px;
	margin-top: 40px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	font-family: monospace;
	font-size: .8rem;
	cursor: pointer;
}
:hover.butt{
	background-color: white;
	color: red;
}